/*  responsive style for different devices  */

/* Small devices (mobiles, up to 767px) */
@media only screen and (max-width: 767px) {
  .h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    line-height: 0;
    text-align: center;
  }
  .h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
  }
  .content-1 {
    font-size: 1.5rem;
  }
  .content-2 {
    font-size: 1.6rem;
  }
  #wrapper > .shape {
    border-radius: 0.3rem;
  }
  #wrapper[data-roundness='1'] > .shape:nth-child(4) {
    border-radius: 0.3rem;
  }
  #wrapper[data-roundness='2'] > .shape:nth-child(4) {
    border-radius: 0.1rem;
  }
  #wrapper[data-roundness='2'] > .shape:nth-child(5) {
    border-radius: 0.1rem;
  }
  #wrapper[data-roundness='3'] > .shape:nth-child(4) {
    border-bottom-left-radius: 0.3rem;
  }
  #shape-container {
    width: 90%;
  }

  header .scroll-down {
    width: 100vw;
    right: 0;
    height: 10vh;
  }
  .scroll-down .glyphicon {
    font-size: 1.2em;
  }
  .navbar {
    position: absolute;
    height: 10vh;
    width: 100vw;
    right: 0;
    left: 0;
    top: 100vh;
  }
  /* toggle between position absolute and sticky with js */
  .sticky {
    position: fixed;
    height: 10vh;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
  }

  .nav {
    display: flex;
    height: 10vh;
    align-items: center;
  }
  .navbar .nav li {
    height: 10vh;
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content horizontally to the center */
    align-items: center; /* Align content vertically to the center */
  }
  
  .content-container-reverse {
    align-items: center;
    flex-direction: column-reverse;
  }
  .content-container {
    align-items: center;
  }
  .col-3 {
    /* float: ; */
    width: 80vw;
    /* margin: 70px 20px; */
    padding: 1.5rem 2rem;
    text-align: center;
  }
  .col-3-img {
    /* float: right; */
    width: 70vw;
    /* margin: 70px 20px; */
    padding: 3rem 0 0;
    text-align: center;
  }
  .col-3-img img {
    width: 75%;
  }
  #sec2 .sublink {
    text-align: center;
    color: var(--white);
  }

  #sec2 a:hover {
    color: crimson;
  }
  .text-container > .h1 {
font-size: 2.5rem;
  }
  .h3 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
  }
  .media-container {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  .container {
    padding: 0.1em 0.4em;
    min-width: 280px;
  }
  .lead {
    display: none;
  }
  /* section {
    height: 85vh;
  } */
  .section-1 > div {
    margin-top: 60px;
  }
  /* .section-1 img {
    max-width: 50%;
    margin: 1em 0;
  } */
  .text-container {
    margin-top: 4rem;
    text-align: center;
  }
  .content-container > div > h3 {
    text-align: center;
  }
  .content-container-reverse > div > h3 {
    text-align: center;
  }
  .section-3 {
    text-align: center;
    background: var(--bkg-beige);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: -ms-min-content;
    height: min-content;
  }
  .tab-content ul {
    padding-left: 25%;
  }
  .tab-content {
    margin-left: 10px;
    text-decoration: none;
  }
  .experienceTabs {
    height: 600px;
  }
  .icon {
    font-size: 2.2em;
    padding: 0px 20px;
    margin: 10px 10px;
    border: 1px solid var(--blue-light);
    border-radius: 8%;
  }
  .wrapper {
    padding-top: 15%;
  }
}

/* Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    line-height: 0;
  }
  .h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
  }
  .h3 {
    font-size: 2em;
    text-align: left;
  }
  .content-1 {
    font-size: 4rem;
  }
  .content-2 {
    font-size: 3.2rem;
  }
  #wrapper > .shape {
    border-radius: 0.7rem;
  }
  #wrapper[data-roundness='1'] > .shape:nth-child(4) {
    border-radius: 0.5rem;
  }
  #wrapper[data-roundness='3'] > .shape:nth-child(4) {
    border-bottom-left-radius: 1rem;
  }
  #shape-container {
    width: 70%;
  }

  .scroll-down {
    height: 10vh;
    width: 100vw;
    right: 0;
  }
  .scroll-down .glyphicon {
    font-size: 1.5em;
  }

  .navbar {
    position: absolute;
    height: 10vh;
    width: 100vw;
    right: 0;
    left: 0;
    top: 100vh;
  }
  /* toggle between position absolute and sticky classes with js */
  .sticky {
    position: fixed;
    height: 10vh;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
  }
  .nav {
    display: flex;
    height: 10vh;
    align-items: center;
  }
  /* .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
  } */

   .navbar .nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 4);
    height: 10vh;
  }
  .col-3-img {
    width: 60vw;
    text-align: center;
    padding: 1.5rem 2rem;
  }
  .col-3-img img {
    width: 55%;
  }
  /* .content-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  } */
  .content-container-reverse {
    align-items: center;
    flex-direction: column-reverse;
  }
  .media-container {
    padding-bottom: 2rem;
  }
  /* section {
    height: 85vh;
  } */
  #sec2 .h3 {
    /* text-align: center; */
    color: var(--white);
  }
  #sec2 a:hover {
    color: crimson;
  }
  .items-box {
    height: 100px;
    flex-wrap: wrap;
  }
  .container {
    padding: 1em 9em;
    max-width: 1280px;
  }
  header .container p {
    font-size: 2.1em;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid var(--pink-dark);
  }
  .text-container {
    margin-top: 4rem;
    text-align: center;
  }
  .h2 {
    
  text-align: center;
  }

  /* .section-1 img {
    max-width: 50%;
    margin: 1em 0;
  } */
  .content-container-reverse p {
    text-align: left;
  }
  /* .section-3 {
        height: -webkit-fill-available;
    } */
  .icon {
    font-size: 2.2em;
    padding: 0px 20px;
    margin: 10px 10px;
    border: 1px solid var(--white);
    border-radius: 8%;
    transition: border-color 0.1s;
    display: inline-block;
  }
  .icon:hover {
    border-color: var(--blue-light);
  }
  .wrapper {
    padding-top: 15%;
  }
}
/* Large devices (laptops/desktops, 1100px and up) */
@media only screen and (min-width: 1101px) {
  /* .container {
    padding: 7% 0 0;
  } */
  .h1 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    line-height: 0;
  }
  .h2 {
  text-align: center;
  }
  .content-1 {
    font-size: 4.5rem;
  }
  .content-2 {
    font-size: 4rem;
  }
  #shape-container {
    width: 50%;
  }
  #wrapper > .shape {
    border-radius: 0.7rem;
  }
  #wrapper[data-roundness='1'] > .shape:nth-child(4) {
    border-radius: 0.5rem;
  }
  #wrapper[data-roundness='3'] > .shape:nth-child(4) {
    border-bottom-left-radius: 1rem;
  }
  .scroll-down {
    right: 2.5vw;
    height: 8vh;
    width: 8vw;
  }
  .navbar {
    width: 8vw;
    position: absolute;
    top: 100vh;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
  }
  .nav > a {
    height: 10vh;
  }
  /* toggle between position absolute and sticky classes with js */
  .sticky {
    position: fixed;
    top: 20vh;
  }
  .col-3-img {
    float: right;
    padding: 0;
    width: 28vw;
  }
  .col-3-img img {
    width: 75%;
  }
  .col-3 {
  width: 36vw;
  padding: 1.5rem 2rem;
  }
  .media-container {
    padding-top: 2rem;
  }
  .content-container-reverse:after {
    clear: both;
    content: '';
    display: block;
  }
  /* section {
    height: 85vh;
  } */
  .tab-content {
    margin-left: 60px;
  }
  .wrapper {
    padding-top: 10%;
  }
  /* section {
    height: 70vh;
  } */
}

/* X-Large devices (X-laptops/desktops, 1281px and up) */
@media only screen and (min-width: 1282px) {
  .content-1 {
    font-size: 4.5rem;
  }
  .content-2 {
    font-size: 4rem;
  }
  #wrapper > .shape {
    border-radius: 0.7rem;
  }
  #wrapper[data-roundness='1'] > .shape:nth-child(4) {
    border-radius: 0.5rem;
  }
  #wrapper[data-roundness='3'] > .shape:nth-child(4) {
    border-bottom-left-radius: 1rem;
  }
  #shape-container {
    width: 50%;
  }
  .scroll-down {
    right: 2.5vw;
    height: 8vh;
    width: 8vw;
  }
  .navbar {
    width: 8vw;
    position: absolute;
    top: 100vh;
  }
  /* toggle between position absolute and sticky classes with js */
  .sticky {
    position: fixed;
    top: 20vh;
  }
  .container {
    /* padding: 7% 0 0; */
    align-self: flex-start;
    line-height: 0.7;
  }
  .tab-content {
    margin-left: 120px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
  }
  .nav > a {
    height: 10vh;
  }
  .col-3-img img {
    width: 60%;
  }
}

/*  End  */
