@import url('./media.css');
@import url('./navbar.css');
@import url('./landingPageShapes.css');
@import url('./profile-sec.css');
@import url('./content-containers.css');

/* 
-- variables
-- general elements
-- general classes and ids
-- header
-- Navbar
-- sections
-- profile image
*/

:root {
  /* font */
  --font: 'Open Sans', sans-serif !important;

  --opacity-00: 0.97;
  --opacity-05: 0.91;
  --opacity-1: 0.82;
  --opacity-2: 0.7;
  --opacity-3: 0.5;
  --opacity-4: 0.4;
  --no-opacity: 1;

  /* new color pallet */
  /* landingPageShapes colors */
  --text-1-1: rgb(170, 246, 252); /* mob 3-2 , 1-1 */
  --text-1-2: rgb(201 250 41); /* web 1-2 , 1-1 */
  --text-2-1: rgb(255, 242, 170);
  --text-3-1: rgb(103, 255, 255);
  --text-3-2: rgb(62, 248, 167); /* mob 3-2 , 1-1 */

  /* content colors - text & icons */
  --white-1: rgba(199, 211, 227, var(--opacity-2));
  --white-2: rgba(240, 248, 255, var(--opacity-1));
  --white-3: rgb(215, 228, 247);

  --blue-1: rgba(142, 177, 222, var(--opacity-1));
  --blue-2: rgb(171, 211, 249);
  --blue-3: rgb(140, 206, 253);
  --blue-4: rgba(25, 69, 127, var(--opacity-4));
  --blue-5: rgb(2 15 33);
  --blue-6-transparent: rgba(2, 15, 33, var(--opacity-00));
  --blue-7-transparent: rgba(40, 61, 104, var(--opacity-3));
  --blue-8: rgb(2 15 33);

  /* --yellow-1: #ffef92; */
  --yellow-1: rgba(255, 196, 0, var(--opacity-1));
  --yellow-2: rgb(255, 201, 6);
  --yellow-3: rgba(189, 149, 18, 0.942);
  
  --text-title-hover: rgba(253, 204, 171, var(--opacity-05));
  --bkg-beige: #fdfbf3;

  --clr-torquoise: rgb(94 234 212/1);
  --green-1: rgba(16, 162, 123, var(--opacity-1));
  --green-2: rgb(155, 160, 25);

  --red-1:rgba(255, 80, 144);
  /* --red-1: rgba(199, 0, 30, var(--no-opacity)); */
  /* --purple-1: rgb(126, 40, 249, var(--opacity-1)); */
  --purple-1: rgb(142, 97, 247);
  --purple-2: rgba(188, 33, 255, 0.957);

  
  /* content colors - text & icons */
  /* --white-1: rgb(199 211 227 / var(--opacity-2)); */
  /* --white-1: rgba(199, 211, 227, 0.7);
  --white-2: rgba(240, 248, 255, 0.82);
  --white-3: rgb(215, 228, 247);

  --opacity-2: 0.7;
  --opacity-2-bold: 1;
  --text-no-opacity: 1; */

  /* --gray-light: #727878; */
  /* --coal: #434242; */

  /* --body-light-transparent: rgb(12, 21, 39); */
  /* --body-dark-transparent: rgb(2, 15, 33); */
  /* --gray-lead: #888d8d; */

  /* --bkg-opacity: 1; */
}

::-webkit-scrollbar {
  /* width: 5px; */
}
::-webkit-scrollbar-thumb {
  background: var(--blue-dark);
  border-radius: 3px;
}
::-moz-selection {
  color: var(--white);
  background: var(--blue-dark);
}
::selection {
  color: var(--white);
  background: var(--blue-dark);
}

/* Confirmed  General Style*/
.title {
  font-weight: 600;
  font-size: 1.7rem;
}

/* ///////////////////////// */

/*  -- general elements --  */
html {
  scroll-behavior: smooth;
  /* background: linear-gradient(
    var(--body-light-transparent),
    var(--body-dark-transparent)
  ); */
  background-size: 100%;
}
html,
body,
header {
  max-width: 100%;
}
body,
header {
  font-family: var(--font);
}
body {
  font-size: 1em;
  line-height: 1.6;
  height: 100vh;
  overflow-x: hidden;
  color: var(--white-1);
  background-color: var(--blue-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 80vw;
  padding-top: 10vh;
  padding-bottom: 8vh;
}
footer {
  width: 80vw;
  padding: 0 10vh 10vh;
}
#main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
p {
  margin: 0.4rem 0;
}
.bold {
  color: var(--white-2);
}
.h1 {
  font-size: 2.6rem;
}
.h2 {
  font-size: 1.3rem;
}

h2,
h3 {
  font-weight: 500;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a {
  /* color: var(--text-1-1); */
  text-decoration: none;
}
.gray-icon {
  color: var(--white-1);
  transition: color 0.3s ease;
}
.media {
  padding: 0 0.4rem;
  font-size: 2.5rem;
}

hr {
  border: 0;
  height: 1px;
  width: auto;
  background-image: -o-linear-gradient(left, #f0f0f0, #d1d1d1, #f0f0f0);
}
small {
  color: var(--pink-light);
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem 0 0 0;
}

.center {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.text-container {
  align-self: center;
}
/* -- general classes and ids */
/* .container {
  position: relative;
  top: 10%;
  z-index: 4;
  text-align: center;
  max-width: 100%;
} */

.content-container-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
}

.bkg-dark > hr {
  margin: 2em;
  opacity: 0.2;
  border: 0;
  height: 1px;
  width: auto;
  background-image: -o-linear-gradient(left, #e7d599, #ffffff, #e7d599);
}

/* #full-background {
  height: 100%;
  background: linear-gradient(
    50deg,
    #110130,
    #350a8a,
    #fdfbf3
  );
  background-size: 100%;
} */
}